<!DOCTYPE html>
<html lang="en" dir="ltr"></html>
<head>
	<title>CKEditor 5 ClassicEditor build</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet"/>
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"/>
</head>
<body>
	<div id="app">
		<v-app>
			<v-container fluid>
				<v-card class="my-2">
					<v-container fluid>
						<ckeditor5-texteditor 
							label="Summary"
							v-model="testDataToPass"
							:rules="toggleRequired ? [v=> !!v || 'Content is Required'] : []"
							:disabled="toggleDisabled"
							@count-paragraph="onChangeParagraph"
							@count-sentence="onChangeSentence"
							@count-word="onChangeWord"
							@count-char="onChangeChar"
							show-paragraph-count
							show-sentence-Count
							show-word-count
							show-char-count
						></ckeditor5-texteditor>
						<v-btn @click="setVmodel">Set v-model</v-btn>
						<v-btn @click="clearVmodel">Clear v-model</v-btn>
						<v-btn :color="toggleDisabled ? 'primary':''" @click="toggleDisabled = !toggleDisabled">Toggle Disabled</v-btn>
						<v-btn :color="toggleRequired ? 'primary':''" @click="toggleRequired = !toggleRequired">Toggle Rules</v-btn>
					</v-container>
				</v-card>
				<v-card class="my-2">
					<v-card-title>Live Changes:</v-card-title>
					<v-tabs v-model="livechangestab">
						<v-tab>Source</v-tab>
						<v-tab>Display</v-tab>
					</v-tabs>
					<v-tabs-items v-model="livechangestab">
						<v-tab-item>
							<v-container fluid class="pa-2 body-2 overflow-auto grey lighten-3">
								<pre style="white-space: pre-line;">{{testDataToPass}}</pre>
							</v-container>
						</v-tab-item>
						<v-tab-item>
							<v-container fluid class="body-2">
								<div v-html="testDataToPass"></div>
								<div style="clear:both"></div>
							</v-container>
						</v-tab-item>
					</v-tabs-items>
				</v-card>
				
			</v-container>
		</v-app>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<script src="../build/ckeditor.js"></script>
	<script src="../build/ckeditor5TextEditorComponent.js"></script>
	<script>
		const app = new Vue({
			el: '#app',
			vuetify: new Vuetify(),
			data() {
				return{
					livechangestab: 0,
					toggleDisabled: false,
					toggleRequired: false,
					testDataToPass: '',

					draft_content: `<h2>Bilingual Personality Disorder</h2>
						<figure class="image image-style-align-left" style="width:372px;"><img src="https://c.cksource.com/a/1/img/docs/sample-image-bilingual-personality-disorder.jpg">
							<figcaption>One language, one person.</figcaption>
						</figure>
						<p>
							This may be the first time you hear about this made-up disorder but
							it actually isn’t so far from the truth. Even the studies that were conducted almost half a century show that
							<strong>the language you speak has more effects on you than you realise</strong>.
						</p>
						<p>
							One of the very first experiments conducted on this topic dates back to 1964.
							<a href="https://www.researchgate.net/publication/9440038_Language_and_TAT_content_in_bilinguals">In the experiment</a>
							designed by linguist Ervin-Tripp who is an authority expert in psycholinguistic and sociolinguistic studies,
							adults who are bilingual in English in French were showed series of pictures and were asked to create 3-minute stories.
							In the end participants emphasized drastically different dynamics for stories in English and French.
						</p>
						<p>
							Another ground-breaking experiment which included bilingual Japanese women married to American men in San Francisco were
							asked to complete sentences. The goal of the experiment was to investigate whether or not human feelings and thoughts
							are expressed differently in <strong>different language mindsets</strong>.
							<Here>is a sample from the the experiment:</Here>
						</p>
						<p>
							More recent <a href="https://books.google.pl/books?id=1LMhWGHGkRUC">studies</a> show, the language a person speaks affects
							their cognition, behaviour, emotions and hence <strong>their personality</strong>.
							This shouldn’t come as a surprise
							<a href="https://en.wikipedia.org/wiki/Lateralization_of_brain_function">since we already know</a> that different regions
							of the brain become more active depending on the person’s activity at hand. Since structure, information and especially
							<strong>the culture</strong> of languages varies substantially and the language a person speaks is an essential element of daily life.
						</p>`,
				}			
			},
			mounted(){
				
			},
			methods: {
				onChangeParagraph(ev){
					// console.log('CURRENT PARAGRAPH COUNT',ev);
				},
				onChangeSentence(ev){
					// console.log('CURRENT SENTENCE COUNT',ev);
				},
				onChangeWord(ev){
					// console.log('CURRENT WORD COUNT',ev);
				},
				onChangeChar(ev){
					// console.log('CURRENT CHAR COUNT',ev);
				},
				setVmodel(){
					var data = this.draft_content;
					this.testDataToPass = data;
				},
				clearVmodel(){
					this.testDataToPass = '';
				},
			}
		});
	</script>
</body>