<!DOCTYPE html>
<html lang="en" dir="ltr"></html>
<head>
	<title>CKEditor 5 ClassicEditor build</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"/>
</head>
<body>
	<div id="app">
		<v-app>
			<v-container fluid>
				<v-row>
					<v-col cols="6">
						<ckeditor5-texteditor v-model="editorData"
							:rules="[v=> !!v || 'Content is Required']"
							show-paragraph-count
							show-sentence-Count
							show-word-count
							show-char-count
							proxy-server-url="https://archintelchassis4-proxy-server.herokuapp.com/"
							@count-paragraph="onChangeParagraph"
							@count-sentence="onChangeSentence"
							@count-word="onChangeWord"
							@count-char="onChangeChar"
							@get-links="onGetLinks"
						></ckeditor5-texteditor>
					</v-col>
					<v-col>
						<v-card>
							<v-tabs v-model="tabPreview">
								<v-tab>Preview</v-tab>
								<v-tab>HTML</v-tab>
							  </v-tabs>
							  <v-tabs-items v-model="tabPreview">
								<v-tab-item>
									<div class="pa-2" v-html="editorData"></div>
								</v-tab-item>
								<v-tab-item>
									<pre class="pa-2" style="white-space: pre-line;">{{editorData}}</pre>
								</v-tab-item>
							  </v-tabs-items>
							
						</v-card>
					</v-col>
				</v-row>
			
				
			</v-container>
		</v-app>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4/lodash.min.js"></script>
	<script src="../build/ckeditor.js"></script>
	<script src="../build/ckeditor5TextEditorComponentV2.js"></script>
	<script>
		const app = new Vue({
			el: '#app',
			vuetify: new Vuetify(),
			data() {
				return{
					editorData: '',
					tabPreview: 0
				}			
			},
			methods: {
				onChangeParagraph(count){
					console.log('paragraphs ',count);
				},
				onChangeSentence(count){
					console.log('sentences ',count);
				},
				onChangeWord(count){
					console.log('words ',count);
				},
				onChangeChar(count){
					console.log('characters ',count);
				},
				onGetLinks(links){
					console.log('links',links);
				}
			},
		});
	</script>
</body>